body{
    background-color: #1d1d1d;
    font-family:  Open  sans-serif, arial;
}

header {
    background-color: #142890;
    color: #fff;
    padding: 35px;
    text-align: center;
    font-size: 65px;
    text-shadow: 5px 5px #000000;
  }